html(lang='fr')
	head
		meta(charset='utf-8')
		title Bienvenue sur LinkFeed - Connectez-vous ou rejoignez-nous 
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
	body
		div.page-title
			div.container
				div.row
					div.span12
						i.icon-tasks.page-title-icon
							h2 Share ! /
								p Bienvenue sur LinkFeed
							
		img.img-rounded(src='/linkfeed.jpg', width='750')
		
		div.container
			div.row
				div.span4.offset2.well
					legend Identifiez-vous !
					- if (typeof(messageError) !== 'undefined'){
						div.alert.alert-danger.alert-dismissable
							button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
							strong Erreur!
							|  #{messageError}
					-}
					form(method='POST', action='/user/login', accept-charset='UTF-8')
						input#username.span4(type='text', name='username', placeholder='Nom d\'utilisateur', required='required')
						input#mdp.span4(type='password', name='mdp', placeholder='Mot de passe', required='required')
						button.btn.btn-info.btn-block(type='submit') Se connecter
				div.span3.well
					legend Pas encore inscrit ?
					- if (typeof(messageError2) !== 'undefined'){
						div.alert.alert-danger.alert-dismissable
							button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
							strong Erreur!
							|  #{messageError2}
					-}
					a.btn.btn-success.btn-block(data-toggle='modal', href='#myModal') S'inscrire
					
		#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title Inscription
					div.modal-body
						form(method='POST', action='/user/new', accept-charset='UTF-8')
							input#username.span4(type='text', name='username', placeholder='Nom d\'utilisateur', required='required')
							input#mdp.span4(type='password', name='mdp', placeholder='Mot de passe', required='required')
							input#email.span4(type='email', name='email', placeholder='Email', required='required')
							br
							button.btn.btn-success(style='width: 30%;', type='submit') Valider
					div.modal-footer
						button.btn.btn-danger(type='button', data-dismiss='modal') Annuler		
		div#footer
			div.container
				p  © LinkFeed 2013 - Metz
				p DA CONCEICAO Dylan - HAZAN Raphaël - MANDICA Simon - SZYMANSKI Loïc
			
		script(src='/js/jquery-1.8.2.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
