!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Bienvenue sur LinkFeed - Connectez-vous ou rejoignez-nous 
		
		link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='57x57', href='/img/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/img/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/img/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/img/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/img/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/img/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/img/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/img/apple-touch-icon-152x152.png')
		
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		
		script(src='/js/jquery-1.8.2.min.js')

		script(src='/bootstrap/js/bootstrap.min.js')
		
		script.
			$(document).ready(function() { 
				$('#passError').hide();
				
				$('#mdp_reg').bind('input',function () {
					if ($('#mdp_reg').val()!="" && $('#mdp_again').val()!=""){
						check();
					}
				});
				
				
				$('#mdp_again').bind('input',function () {
					if ($('#mdp_reg').val()!="" && $('#mdp_again').val()!=""){
						check();
					}
				});
								
			});
			
			function check(){
				if ($('#mdp_reg').val()!=$('#mdp_again').val()) 
				{
					$('#passError').hide();
					$('#passError').show();
					return false;
				}
				else
				{
					$('#passError').hide();
				}
			}
			

		
	body.fullscreen_bg
		div.page-title
			div.container
				div.row
					div.span12
						i.fa.fa-tasks.page-title-icon
							h2 Share ! /
								p Bienvenue sur LinkFeed
							
		img.img-rounded(src='/img/linkfeed.png', width='750', style="margin:20px auto 20px auto")
		
		div.container
			div.row-fluid
				div.span4.offset2.well
					div.row-fluid
						legend Identifiez-vous !
						- if (typeof(messageError) !== 'undefined'){
							div.alert.alert-danger.alert-dismissable
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								strong Erreur!
								|  #{messageError}
						-}
						form(method='POST', action='/user/login', accept-charset='UTF-8')
							div.left-inner-addon
								i.fa.fa-user
								input#username.span4(style="width:100%;", type='text', name='username', placeholder='Nom d\'utilisateur ou E-mail', required='required')
							div.left-inner-addon
								i.fa.fa-lock
								input#mdp.span4(style="width:100%;",type='password', name='mdp', placeholder='Mot de passe', required='required')
							button.btn-flat-blue(type='submit') 
								i.fa.fa-sign-in
								|  Se connecter
						p.blue  © LinkFeed 2013 - Metz
						p.blue DA CONCEICAO Dylan - HAZAN Raphaël
						p.blue MANDICA Simon - SZYMANSKI Loïc
							
				div.span3
					div.row-fluid.well
						legend Pas encore inscrit ?
						- if (typeof(messageError2) !== 'undefined'){
							div.alert.alert-danger.alert-dismissable
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								strong Erreur!
								|  #{messageError2}
							if messageError2
								script.
									$(document).ready(function() { 
										$('#registerbtn').click();
									});
						-}
						div.register-collapse.collapse
							form#registerForm(method='POST', action='/user/new', accept-charset='UTF-8')
								div.left-inner-addon
									i.fa.fa-user
									input#username(type='text', name='username', maxlength="10" , placeholder='Nom d\'utilisateur', required='required')
								div.left-inner-addon
									i.fa.fa-lock
									input#mdp_reg(type='password', name='mdp', placeholder='Mot de passe', required='required')
								div.left-inner-addon
									i.fa.fa-lock
									input#mdp_again(type='password', name='mdp_again', placeholder='Mot de passe \(confirmation\)', required='required')
								#passError.alert.alert-danger
									| Les mots de passe ne correspondent pas
								div.left-inner-addon
									i.fa.fa-envelope
									input#email(type='email', name='email', placeholder='Email', required='required')
								br
								button.btn-flat-blue(type="submit", onClick="return check();") Valider
								button.btn-flat-red(type="button", onClick="$('#registerbtn').show()", style="margin-left:15px", data-toggle='collapse', data-target='.register-collapse') Annuler	
						a.btn-flat-blue(id="registerbtn", onClick="$('#registerbtn').hide()", data-toggle='collapse', data-target='.register-collapse')
							i.fa.fa-pencil
							|   S'inscrire
				
						hr
						a.btn-flat-blue.blink(style="border-radius:10px;" , href='/info') 
							i.fa.fa-info(style="margin-right:10px;")
							| À propos de LinkFeed
