!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title LinkFeed - A propos
		
		link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='57x57', href='/img/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/img/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/img/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/img/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/img/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/img/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/img/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/img/apple-touch-icon-152x152.png')
		
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		
		script(src='/js/jquery-1.8.2.min.js')

		script(src='/bootstrap/js/bootstrap.min.js')


		
	body.fullscreen_bg
		div.page-title
			div.container
				div.row
					div.span12
						i.fa.fa-thumbs-up.page-title-icon
							h2 À propos de LinkFeed
							
		img.img-rounded(src='/img/linkfeed.png', width='750', style="margin:0px auto 20px auto")
		
		div.container
			div.row-fluid
				div.span12.well
					h2(style="font-family: 'Lobster', cursive;margin-bottom:30px") Projet de synthèse - DPT  INFO - 2ème année
					p.well 
						| LinkFeed est un projet de quatre étudiants réalisé dans le cadre de notre formation à l'IUT de Metz (DUT Informatique)
						br
						| Proposé par M. BILLEY
					.span2
						.well
							.row-fluid
								.span12
									img.img-avatar(style="margin-bottom:10px", src='/img/gb.jpg', border='0')
									span(style="cursor:default;font-size:11px;color:#2B8FD9;margin-left:5px", href="#") BILLEY Guillaume
							hr.black
							.row-fluid.rating-desc
								div.span12
									span.tag Ingénieur d'étude chez Capgemini
					.span1
						img(style="margin:90px auto 90px auto", src='/img/eye.png', border='0', width='80px', height='60px')	
					
					.span2
						.well
							.row-fluid
								.span12
									img.img-avatar(style="margin-bottom:10px", src='/img/rh.png', border='0')
									span(style="cursor:default;font-size:11px;color:#2B8FD9;margin-left:5px") HAZAN Raphaël
							hr.black
							.row-fluid.rating-desc
								div.span12
									span.tag Etudiant INFO 2A
									
					.span2
						.well
							.row-fluid
								.span12
									img.img-avatar(style="margin-bottom:10px", src='/img/dd.png', border='0')
									span(style="cursor:default;font-size:11px;color:#2B8FD9;margin-left:5px") DA CONCEICAO Dylan
							hr.black
							.row-fluid.rating-desc
								div.span12
									span.tag Etudiant INFO 2A
									
					.span2
						.well
							.row-fluid
								.span12
									img.img-avatar(style="margin-bottom:10px", src='/img/sm.png', border='0')
									span(style="cursor:default;font-size:11px;color:#2B8FD9;margin-left:5px") MANDICA Simon
							hr.black
							.row-fluid.rating-desc
								div.span12
									span.tag Etudiant INFO 2A
									
					.span2
						.well
							.row-fluid
								.span12
									img.img-avatar(style="margin-bottom:10px", src='/img/sl.png', border='0')
									span(style="cursor:default;font-size:11px;color:#2B8FD9;margin-left:5px") SZYMANSKI Loïc
							hr.black
							.row-fluid.rating-desc
								div.span12
									span.tag Etudiant INFO 2A
					
				
					div.span12
						h1.blue.comment(style="font-size:45px")
							|“Merci” 
				
				div.span12
					p(style="color:white;") Université de Lorraine - IUT - Metz
					a.btn-flat-blue(href="/")
						| Retour à l'accueil