!!! 5
html(lang='fr')
head
    meta(charset='utf-8')
    title LinkFeed - Share what you Care
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
    link(rel='stylesheet', href='public/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='public/assets/bootstrap/css/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='public/assets/css/font-awesome.css')
    link(rel='stylesheet', href='public/assets/css/style.css')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    style.
      body{
      padding-top:100px;
      }
  body
    .container
      .header.row
        .span12
          .navbar.navbar-fixed-top
            .navbar-inner
              a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              h1
                a.brand(href='index.html') LinkFeed
              .nav-collapse.collapse
                ul.nav.pull-right
                  li
                    a(href='index.html')
                      i.icon-home
                      br
                      | Accueil
                  li
                    a(href='feed.html')
                      i.icon-comments
                      br
                      | Mon Feed
                  li.current-page
                    a(href='profil.html')
                      i.icon-user
                      br
                      | Mon Profil
                  li
                    a(href='index.html')
                      i.icon-off
                      br
                      | Déconnexion
    .page-title
      .container
        .row
          .span12
            i.icon-tasks.page-title-icon
            h2
              | Bienvenue, 
              b.blue #{username}
              | /
            p Vous pouvez consulter vos informations et postez des liens.
    .container
      .row
        .span4.offset4.well
          h2.blue Partage de lien :
          br
          form(method='POST', action='http://127.0.0.1:8080/lien/new', accept-charset='UTF-8')
            input#url.span4(type='url', name='url', placeholder='URL', required='required')
            input#description.span4(type='text', name='description', placeholder='Description', required='required')
            p.blue Tags :
            select#tags(name='tags', multiple='multiple', data-role='tagsinput')
            hr
            button.btn.btn-info.btn-block(type='submit') Partager !
    script(src='public/assets/js/jquery-1.8.2.min.js')
    script(src='public/assets/bootstrap/js/bootstrap.min.js')
    script(src='public/assets/bootstrap/js/bootstrap-tagsinput.min.js')
