


body {
    background: #fff;
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 12px;
}

.blue { color: #1f5575; }

.description {
	width:355px;
}

a {
    color: #0099FF;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

a:hover { color: #0099FF; text-decoration: none; }

strong { font-weight: bold; }

.btn.btn-navbar {
	margin-top:18px;
	position: absolute;
	left: 260px;
}

.header .navbar {
    margin-bottom: 0;
	border-bottom: solid 3px #1f5575;
}

.header .navbar-inner {
    background: #fff;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header h1 {
    float: left;
    text-align: left;
	margin:20px 0 0 20px;
}

.header a.brand {
   display: inline-block;
    text-indent: -9999px;
    width: 200px;
    height: 30px;
   background: url(../img/logo.png) 20px center no-repeat; 
}

.header ul.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.header ul.nav li a {
    padding: 15px 20px 38px 20px;
    color: #5d5d5d;
    text-shadow: none;
}

.header ul.nav li.current-page a {
    padding-top: 10px;
    border-top: 5px solid #1f5575;
    background: #f8f8f8;
}

.header ul.nav li a:hover {
    background: #468ab5;
    color: #fff;
}

.header ul.nav li a i {
    line-height: 35px;
    color: #aaa;
}

.header ul.nav li a:hover i { color: #fff; }


.page-title {
    margin: 0 auto 30px;
    padding: 30px 10px 15px 10px;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    text-align: left;
}

.page-title h2 {
    display: inline;
    margin-left: 10px;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    vertical-align: middle;
}

.page-title p {
    display: inline;
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
}

.page-title-icon {
    margin-left: 20px;
    font-size: 46px;
    color: #ccc;
    vertical-align: middle;
}

input {
	margin-left: 5px !important;
}

.select2-input {
	margin-right: 5px !important;
}


.tag {
    float:left;
    margin:0 0 5px 3px; /* make some space for the triangle */
    font:12px/20px Arial, sans-serif;
    padding:0 8px;
    color:#fff;
    background:#2B8FD9;
	border-radius: 5px 0 5px 0;
	border-bottom: 4px solid #0D609E;
	border-left: 4px solid #0D609E;
}

.url {
	font: 18px Arial, sans-serif;
}

.comment {
	font-style:italic;
	font-size:16px;
}

.icon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.icon-tags { color:#27ae60;}
.black {margin-top: 7px;margin-bottom: 7px;border: 0;border-top: 1px solid rgb(199, 199, 199);}

.username:hover {
	background: #2B8FD9;
	color:white;
	padding: 3px 3px 3px 3px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 5px 5px 0 15px;
    pointer-events: none;
}

.fullscreen_bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url('/img/background.jpg');
}