


body {
    background: #fff;
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 12px;
	margin-bottom:20px;
}

.blue { color: #1f5575; }

.description {
	width:355px;
}

a {
    color: #0099FF;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

a:hover { color: #0099FF; text-decoration: none; }

strong { font-weight: bold; }

.btn.btn-navbar {
	margin-top:18px;
	position: absolute;
	left: 260px;
}

.header .navbar {
    margin-bottom: 0;
	border-bottom: solid 3px #1f5575;
}

.header .navbar-inner {
    background: #fff;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header h1 {
    float: left;
    text-align: left;
	margin:20px 0 0 20px;
}

.header a.brand {
   display: inline-block;
    text-indent: -9999px;
    width: 200px;
    height: 30px;
   background: url(../img/logo.png) 20px center no-repeat; 
}

.header ul.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.header ul.nav li a {
    padding: 15px 20px 38px 20px;
    color: #5d5d5d;
    text-shadow: none;
}

.header ul.nav li.current-page a {
    padding-top: 10px;
    border-top: 5px solid #1f5575;
    background: #f8f8f8;
}

.header ul.nav li a:hover {
    background: #468ab5;
    color: #fff;
}

.header ul.nav li a i {
    line-height: 35px;
    color: #aaa;
}

.header ul.nav li a:hover i { color: #fff; }


.page-title {
    margin: 0 auto 30px;
    padding: 30px 10px 15px 10px;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    text-align: left;
}

.page-title h2 {
    display: inline;
    margin-left: 10px;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    vertical-align: middle;
}

.page-title p {
    display: inline;
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
}

.page-title-icon {
    margin-left: 20px;
    font-size: 46px;
    color: #ccc;
    vertical-align: middle;
}

input {
	margin-left: 5px !important;
}

.select2-input {
	margin-right: 5px !important;
}


.tag {
    float:left;
    margin:0 0 5px 3px;
    font:12px/20px Arial, sans-serif;
    padding:0 8px;
    color:#fff;
    background:#2B8FD9;
	border-radius: 5px 0 5px 0;
	border-bottom: 4px solid #0D609E;
	border-left: 4px solid #0D609E;
	cursor:default;
}

a.tag:hover {
    color:#fff;
    background:#2570a7;
	cursor:pointer;
}

.url {
	font: 18px Arial, sans-serif;
}

.comment {
	font-style:italic;
	font-size:16px;
}

.icon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.icon-tags { color:#27ae60;}
.black {margin-top: 7px;margin-bottom: 7px;border: 0;border-top: 1px solid rgb(199, 199, 199);}

.link:hover {
	background: #2B8FD9;
	color:white;
	padding: 0px 3px 0px 3px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 9px 5px 0 15px;
    pointer-events: none;
}

.fullscreen_bg {
  background: url(/img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-social {
	padding: 7px 15px 6px 14px;
	margin-left:5px;
    border-radius: 25px;
}

.btn-social:hover {
    border-radius: 5px;
}

/* #Bouton flat bleu
==================================================*/

.btn-flat-blue {
  position: relative;
  vertical-align: middle;
  font-size: 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}

a.btn-flat-blue {
  display: inline-block;
  padding: 8px 16px 8px 16px;
  border: 1px solid #2a8bcc;
}

button.btn-flat-blue {
  padding: 8px 16px 8px 16px;
  border: 0;
}

button.btn-flat-blue#searchbtn {
  height: 34px;
}

.btn-flat-blue:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-flat-blue:hover {
	color:white;
	background: #2980b9;
}

/* #Bouton flat vert
==================================================*/
.btn-flat-green {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 16px 8px 16px;
  border: 1px solid #219d55;
  font-size: 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #27ae60;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
}
.btn-flat-green:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-flat-green:hover {
	color:white;
	background: #219d55;
}

/* #Bouton flat rouge
==================================================*/
.btn-flat-red {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 16px 8px 16px;
  border: 1px solid #db4334;
  font-size: 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e74c3c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #db4334;
  box-shadow: inset 0 -2px #db4334;
}
.btn-flat-red:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-flat-red:hover {
	color:white;
	background: #db4334;
}

a.btn-flat-red {
  display: inline-block;
  padding: 8px 16px 8px 16px;
  border: 1px solid #e74c3c;
}

button.btn-flat-red {
  padding: 8px 16px 8px 16px;
  border: 0;
}


/* __________________ */



.badge {
	padding-bottom:0 !important;
}

.btn-disabled {
   cursor: default;
   opacity:0.45;
}

.img-avatar {
    border-radius: 50%;
}

.img-avatar:hover {
	box-shadow:0px 0px 20px #3498db;
}

.thumbshot:hover {
	box-shadow:0px 0px 20px #3498db;
}

@keyframes blink {
    0% { box-shadow: 0 0 15px #3498db; }
    50% { box-shadow: none; }
    100% { box-shadow: 0 0 15px #3498db; }
}

@-webkit-keyframes blink {
    0% { box-shadow: 0 0 20px #3498db; }
    50% { box-shadow: 0 0 0;}
    100% { box-shadow: 0 0 20px #3498db;}
}

.blink {
    -webkit-animation: blink 1.0s linear infinite;
    -moz-animation: blink 1.0s linear infinite;
    -ms-animation: blink 1.0s linear infinite;
    -o-animation: blink 1.0s linear infinite;
    animation: blink 1.0s linear infinite;
}